// Variables
@import "../bootstrap/bootstrap/variables";

//asdf
//*
$primary: #5884cb;
$primary-contrast: #3a3a3a;

$accent: black;
$accent-contrast: white;

$background: white;
$background-contrast: #333333;
/*
*/

/*
$primary: #6b9362;
$primary-contrast: #f1e7d8;

$accent: #4d4b3a;//#19191B;
$accent-contrast: #f1e7d8;

$background: white;
$background-contrast: #4d4b3a;
/*
*/
