// Variables
//@import "../bootstrap/bootstrap/variables";

//asdf
//*
$primary: #e7e7e7;
$primary-contrast: #b1b1b1;

$accent: #2ecb00;
$accent-contrast: #444444;

$background: #1a203b;
$background-contrast: #e7e7e7;
/*
*/

/*
$primary: #6b9362;
$primary-contrast: #f1e7d8;

$accent: #4d4b3a;//#19191B;
$accent-contrast: #f1e7d8;

$background: white;
$background-contrast: #4d4b3a;
/*
*/
