@import "variables"
@import "mixins"

#maingame
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: black
  z-index: 1000


#minimap
  height: 25vh
  width: 25vh
  position: absolute
  right: 0
  bottom: 0
  opacity: 0.7
  z-index: 1010
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s
  transition: opacity 0.5s, transform 0.5s

  &:hover
    opacity: 0.9

#enter-chat
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0, 0.6)
  z-index: 20000
  pointer-events: none

  #enter-chat-box
    position: absolute
    left: 0
    right: 0
    bottom: 3vh
    margin: auto
    width: 60vh
    height: 6vh
    line-height: 6vh
    font-size: 4vh
    background-color: $primary
    border: 0.5vh solid $primary-contrast
    color: $primary-contrast
    border-radius: 1vh
    box-shadow: 0 0 5vh 0 rgba(255,255,255,1)

  #actual-chat-box
    pointer-events: auto
    width: 58vh
    height: 6vh
    line-height: 6vh
    padding: 0 2vh
    font-size: 4vh
    background-color: transparent
    color: darken($primary-contrast, 40%)
    border: none

    &:focus
      outline: none

#chat-log, #ranks
  position: absolute
  z-index: 1006
  height: 10vh
  margin: auto
  background-color: rgba(0,0,0, 0.6)
  overflow: hidden
  font-size: 1.9vh
  -webkit-transition: height 0.5s, background-color 0.5s, -webkit-transform 0.5s
  transition: height 0.5s, background-color 0.5s, transform 0.5s

  &:hover
    background-color: rgba(0,0,0, 0.8)

  div
    padding: 0.1vh 0.5vh
    pointer-events: none
    -webkit-user-select: none /* Chrome all / Safari all */
    -moz-user-select: none    /* Firefox all */
    -ms-user-select: none     /* IE 10+ */
    user-select: none         /* Likely future */

#chat-log
  left: 0
  bottom: 0
  width: 35vh
  padding: 0.5vh 0 0 0

  &:hover
    height: 40vh

  .game
    color: #CCC
  .red
    color: #ff8080
  .orange
    color: orange
  .yellow
    color: yellow
  .green
    color: lime
  .blue
    color: #33ccff
  .purple
    color: #cc99ff
  .white
    color: white

#ranks
  top: 0
  right: 0
  width: 25vh

  &:hover
    height: 45vh

  div
    height: 3vh