@import "variables"
@import "mixins"

#maingame
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: black
  z-index: 1000

#minimap, #chat-log, #ranks, #friend-link
  position: absolute
  background-color: rgba(0,0,0, 0.6)
  font-size: 1.9vh
  -webkit-transition: height 0.5s, background-color 0.5s, -webkit-transform 0.5s
  transition: height 0.5s, background-color 0.5s, transform 0.5s
  border: 0.5vh solid rgba(120,120,120,0.6)

  &:hover
    background-color: rgba(0,0,0, 0.8)

#render
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1001

#minimap
  height: 25vh
  width: 25vh
  right: 0
  bottom: 0
  opacity: 0.7
  z-index: 1010
  border-radius: 0.5vh 0 0 0
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s
  transition: opacity 0.5s, transform 0.5s
  border-right: none
  border-bottom: none

  &:hover
    opacity: 0.9

#enter-chat
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0, 0.6)
  z-index: 20000
  pointer-events: none

  #enter-chat-box
    position: absolute
    left: 0
    right: 0
    bottom: 3vh
    margin: auto
    width: 60vh
    height: 6vh
    line-height: 6vh
    font-size: 4vh
    background-color: $primary
    border: 0.5vh solid $primary-contrast
    color: $primary-contrast
    border-radius: 1vh
    box-shadow: 0 0 5vh 0 rgba(255,255,255,1)

  #actual-chat-box
    pointer-events: auto
    width: 58vh
    height: 6vh
    line-height: 6vh
    padding: 0 2vh
    font-size: 4vh
    background-color: transparent
    color: darken($primary-contrast, 40%)
    border: none

    &:focus
      outline: none

#chat-log, #ranks
  z-index: 1006
  margin: auto

  div
    pointer-events: none
    -webkit-user-select: none /* Chrome all / Safari all */
    -moz-user-select: none    /* Firefox all */
    -ms-user-select: none     /* IE 10+ */
    user-select: none         /* Likely future */

  .game
    color: #CCC
  .red
    color: #ff8080
  .orange
    color: orange
  .yellow
    color: yellow
  .green
    color: lime
  .blue
    color: #33ccff
  .purple
    color: #cc99ff
  .white
    color: white

#chat-log
  left: 0
  bottom: 0
  height: 10vh
  width: 35vh
  padding: 0.5vh 0 0 0
  overflow: hidden
  border-radius: 0 0.5vh 0 0
  border-bottom: none
  border-left: none

  &.halfsize
    height: 20vh
  &.fullsize
    height: 40vh
  &:hover
    height: 40vh

  div
    padding: 0.1vh 0.5vh


#ranks
  top: 0
  right: 0
  width: 20vh
  padding: 0.25vh 0 0
  border-radius: 0 0 0 0.5vh
  border-right: none
  border-top: none

  div
    height: 3vh
    line-height: 3vh
    text-align: center

  .myrank
    background-color: rgba(255,255,255, 0.3)

#friend-link
  top: 0
  left: 0
  z-index: 1005
  display: inline-block
  font-size: 1.9vh
  padding: 0.5vh 1vh 0.5vh 0.5vh
  color: white
  border-radius: 0 0 0.5vh 0
  border-left: none
  border-top: none
  white-space: nowrap

  span
    color: #3399ff
    font-weight: bold
    white-space: nowrap


